# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
.pytest_cache/
.ruff_cache/

# Database
database/data/
database/.secrets/
my_database/data/
my_database/.secrets/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
